body {
  background-color: #000; 
  font-family: 'Arial', sans-serif;
  color: #ffffff; 
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 36px;
  color:#ffffff;
}
p{color: white;
  font-size: medium;}
  

label {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

input {
  padding: 13px;
    margin: 5px;
    width: 30%; 
    text-align: center; 
    font-size: 18px;
}

button {
  padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}
button:a{
  color: white;
  font-size: medium;
}

button:hover {
  background-color: #FFA500; 
}

h2 {
  margin-top: 20px;
  font-size: 24px;
}

#resultado {
  font-size: 20px;
  background-color: #ffffff;
  color: #131313;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
p {
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 768px) {
  h1 {
      font-size: 24px;
  }
  label {
      font-size: 18px;
  }
  input, button {
      font-size: 16px;
  }
}
  
